<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nct.product.mapper.BannedKeywordMapper">

    <select id="findActiveBannedKeywords" resultType="string">
        SELECT PRD_BAN_KWD
          FROM PRODUCT_BANNED_KEYWORD
         WHERE PRD_BAN_KWD_USE_YN = 'Y'
    </select>

</mapper>
